@using SkillCrest_LearningPlatform.Services.Interfaces

@inject IBaseService baseService

@model ICollection<CourseInfoViewModel>

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>Album example · Bootstrap v5.0</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/album/">

    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <main>
        <h2>Available Courses</h2>
        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    @if (Model != null && Model.Count() > 0)
                    {
                        foreach (var course in Model)
                        {
                                    <div class="col border-1">
                                @{
                                    var imageUrl = string.IsNullOrWhiteSpace(course.ImageUrl)
                                        ? Url.Content("~/images/course-default-image.jpg")
                                        : Url.Content(course.ImageUrl);
                                }
                                        <div class="img-thumbnail">
                                            <img class="bd-placeholder-img card-img-top"
                                                 src="@imageUrl"
                                                 alt="Thumbnail"
                                                 width="100%"
                                                 height="225"
                                                 style="object-fit: cover;" />

                                            <div class="card-body">
                                                <h3>@course.Title</h3>
                                                <p class="card-text">@course.Description</p>
                                                <div class="d-flex justify-content-between align-items-center">
                                            @if (course.IsEnrolled == false)
                                            {
                                                if (!string.IsNullOrEmpty(course.Password))
                                                {
                                                 <div class="btn-group">
                                                   <a class="btn btn-primary" asp-action="EnrollPassword" asp-controller="Course" asp-route-courseId="@course.Id">Enroll</a>
                                                  </div>
                                                }
                                                else
                                                {
                                                  <div class="btn-group">
                                                     <a class="btn btn-primary" asp-action="EnrollNoPassword" asp-controller="Course" asp-route-courseId="@course.Id">Enroll</a>
                                                 </div>
                                                }
                                            }
                                            else
                                            {
                                                <div class="btn-group">
                                                  <a class="btn btn-primary" asp-action="Details" asp-controller="Course" asp-route-id="@course.Id">View</a>
                                                </div>
                                            }

                                            @if (User?.Identity?.Name == course.Creator || await baseService.IsAdmin())
                                            {
                                                <div class="col-6 px-1">
                                                   <a asp-controller="Course" asp-action="Edit" asp-route-id="@course.Id" class="btn btn-warning btn-sm mb-2 w-50 fw-bold rounded btn-dark-text">Edit</a>
                                               </div>
                                                <div class="col-6 px-1">
                                                   <a asp-controller="Course" asp-action="Delete" asp-route-courseId="@course.Id.ToString()" class="btn btn-danger btn-sm mb-2 w-50 fw-bold rounded btn-dark-text">Delete</a>
                                                </div>
                                            }
                                                    <small class="text-muted">@course.DateCreated.ToString("dd-MM-yyyy")</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                        }
                    }
                    else
                    {
                            <div class="container mt-5">
                                <p>No courses yet!</p>
                            </div>
                    }
                </div>
            </div>
        </div>

        @if (User?.IsInRole("Teacher") ?? false)
        {
                <div class="container mt-5">
                    <div class="d-flex flex-column align-items-center">
                        <a class="btn btn-primary" asp-action="Create">Create Course</a>
                    </div>
                </div>
        }
    </main>
    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
