@model QuizSubmissionViewModel

@{
    ViewData["Title"] = Model.Title;
}

<h2>@Model.Title</h2>

<form asp-action="SubmitQuiz" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" name="Title" value="@Model.Title" />
    <input type="hidden" name="Id" value="@Model.Id" />
    <input type="hidden" name="TotalScore" value="@Model.TotalScore" />

    @for (int i = 0; i < Model.Questions.Count; i++)

    {

        var question = Model.Questions[i];

        <div class="question-box mb-4">
            <h4>@(i + 1). @question.Text</h4>

            <input type="hidden" name="Questions[@i].Text" value="@question.Text" />
            <input type="hidden" name="Questions[@i].Type" value="@question.Type" />
            <input type="hidden" name="Questions[@i].QuestionId" value="@question.QuestionId" />

            @switch (question.Type)

            {

                case 0: // Multiple choice (Checkboxes)

                    @for (int j = 0; j < question.Options.Count; j++)

                    {

                        var option = question.Options[j];

                        <div>
                            <!-- Checkbox for selection -->
                            <input type="checkbox"
                                   name="Questions[@i].Options[@j].SelectedOption"
                                   value="true"
                            @(option.SelectedOption ? "checked" : "") />
                            <input type="hidden" name="Questions[@i].Options[@j].Text" value="@option.Text" />
                            <input type="hidden" name="Questions[@i].Options[@j].OptionId" value="@option.OptionId" />
                            <label>@option.Text</label>
                        </div>
                    }
                    break;

                case 1: // // Single Choice (Radio Buttons)
                    @for (int j = 0; j < question.Options.Count; j++)

                    {
                        var option = question.Options[j];

                        <div>
                            <!-- Radio button -->
                            <input type="radio"
                                   name="Questions[@i].SelectedOption"
                                   value="@option.OptionId"
                            @(option.SelectedOption ? "checked" : "") />
                            <!-- Hidden fields for option details -->
                            <input type="hidden" name="Questions[@i].Options[@j].Text" value="@option.Text" />
                            <input type="hidden" name="Questions[@i].Options[@j].OptionId" value="@option.OptionId" />
                            <label>@option.Text</label>
                        </div>
                    }
                    break;

                case 2: // Open Text
                    <div class="form-group">
                        <textarea class="form-control"
                                  name="Questions[@i].CorrectTextResponse"
                                  rows="3"
                                  placeholder="Write your answer here..."></textarea>
                    </div>
                    break;

            }
        </div>
    }

    <button type="submit" class="btn btn-primary">Submit Quiz</button>
</form>