@model ProfileViewModel

@{
    ViewData["Title"] = "User Profile";
    
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h2>@ViewData["Title"]</h2>
        </div>

        <div class="profile-thumbnail">
            @{
                var imageUrl = !String.IsNullOrWhiteSpace(Model.UserImage)
                ? Url.Content(Model.UserImage)
                : Url.Content("~/images/default-user-image.png");
            }
            <img src="@imageUrl"
                 alt="Profile Picture"
                 class="profile-image">
        </div>

        <div class="profile-content">
            <div class="profile-box">
                <h3>Full Name</h3>
                <p>@Model.FullName</p>
            </div>

            <div class="profile-box">
                <h3>School Name</h3>
                @if (string.IsNullOrEmpty(Model.SchoolName))
                    {
                        <p>No school!</p>
                    }
                    else
                    {
                         <p>@Model.SchoolName</p>
                    }
            </div>

            <div class="profile-box">
                <h3>Interests</h3>
                @if (string.IsNullOrEmpty(Model.Interests))
                    {
                        <p>No interests!</p>
                    }
                    else
                    {
                         <p>@Model.Interests</p>
                    }
            </div

            <div class="profile-box biography-box">
                <h3>Biography</h3>
                <p>
                    @if (string.IsNullOrEmpty(Model.Biography))
                    {
                        <p>No biography!</p>
                    }
                    else
                    {
                         <p>@Model.Biography</p>
                    }
                </p>
            </div>
        </div>
    </div>
</body>
</html>